* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-color: #D5D1AE;
}

.header {
    padding: 40px 0px 20px 0px;
}

.header img {
    background-color: white;
    width: 220px;
    height: 220px;
    display: inline-block;
}

.header p {
    display: inline-block;
    font-size: 60px;
}

.git img {
    max-width: 100%;
    max-height: 100%;
}

.git {
    width: 220px;
    height: 220px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 3px black solid;
}

.git:nth-child(even) {
    background-color: #F36970;
}

.git:nth-child(odd) {
    padding: 16px;
    background-color: #82B4EE;
}